/**
* Paleta de cores de acordo com o Figma-teste
*/

$sanchez-primary: #00b5cc;
$sanchez-secondary: #b2df28;
$sanchez-secondary-dark: #5d137d;
$sanchez-row-active: #f4edf7;
$sanchez-light-bg: #fff;

$sanchez-bg-1: #0a0a0a;
$sanchez-bg-2: #1f1f1f;
$sanchez-text: #fff;

$sanchez-dark: #0a0a0a;
$sanchez-dark-bg: #1f1f1f;
$sanchez-gray-text: #a4a4a4;
$sanchez-light-gray-text: #f4f4f4;
$sanchez-light-text: #fff;

$sanchez-disabled-text: #f4f4f4;
$sanchez-hover-select: #f4f4f4;

$sanchez-warn: #f1c40f;
$sanchez-sucess: #2ecc71;
$sanchez-info: #3498db;
$sanchez-error: #e74c3c;

$sanchez-warn-bg: #fef9e7;
$sanchez-sucess-bg: #eafaf1;
$sanchez-info-bg: #bbd9ec;
$sanchez-error-bg: #f3dde4;

// Palette com opacidade

$sanchez-sucess-opacy: #2ecc711a;
